<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.firstinspires.ftc.teamcode">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- Your custom UI screen -->
        <activity
            android:name=".ui.PresetEditorActivity"
            android:exported="true" />
    </application>

</manifest>
